{% comment %}
  Unified publications entry renderer for both formats
{% endcomment %}

<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign last_year = "" %}
  {% for entry in entries %}
    {% if entry.releaseDate %}
      {% assign this_year = entry.releaseDate | split: '-' | first %}
    {% else %}
      {% assign this_year = entry.date | split: '-' | first %}
    {% endif %}

    <li class="list-group-item" style="border: none; {% if this_year != last_year %}border-top: 1px solid var(--global-divider-color) !important; padding-top: 2rem;{% else %}padding-top: 0;{% endif %}">
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 text-center">
          {% if this_year != last_year %}
            <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
              {{ this_year }}
            </span>
            {% assign last_year = this_year %}
          {% endif %}
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          {% if entry.url %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">
              <a href="{{ entry.url }}">{{ entry.title | default: entry.name }}</a>
            </h6>
          {% elsif entry.title %}
            <h6 class="title font-weight-bold ml-1 ml-md-4">{{ entry.title }}</h6>
          {% endif %}

          {% if entry.publisher %}
            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">
              <em>{{ entry.publisher }}</em>
            </h6>
          {% endif %}

          {% if entry.summary %}
            <div class="ml-1 ml-md-4">{{ entry.summary | markdownify }}</div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>